On this starter notebook, we aim to:

* Prepare the data for instance segmentation (convert to COCO format)
* Visualize the data (image and processing)

COCO format example:

* https://www.kaggle.com/mlwhiz/simpsons-main-characters
* https://www.immersivelimit.com/tutorials/create-coco-annotations-from-scratch
* https://www.kaggle.com/fmscole/convert-dataset-to-coco-format-tools

Augmentation:

* https://towardsdatascience.com/self-supervised-keypoint-learning-aade18081fc3
* https://github.com/qubvel/ttach

Insights:

* 6 images with multiple astronauts
* 68 polygons are single (~73%)

In [1]:
import os
os.chdir("../")

In [2]:
import pandas as pd 
import numpy as np 
import glob
import json
from PIL import Image

In [3]:
IMAGE_TRAIN_PATH = "data/raw/train/images/"

In [4]:
def generate_image_metadata(dirname):
    """
    Extract the width and height
    """
    file_list = []
    width_list = []
    height_list = []
    for filename in glob.glob(dirname + '*.*'):
        img = Image.open(filename)
        width, height = img.size
        file_list.append(os.path.basename(filename))
        width_list.append(width)
        height_list.append(height)
    
    res = pd.DataFrame({"filename": file_list, "width": width_list, "height":height_list})
    return res

def get_pose(x, level=1):
    x = x.split(",")
    if level == 1:
        x = x[0:45]
    elif level == 2:
        x = x[45:90]
    x = ','.join(x)
    return x

## Data Preparation

In [5]:
df_metadata = generate_image_metadata(IMAGE_TRAIN_PATH)
df_metadata["id"] = df_metadata["filename"].str.replace(".png|.jpg", "").astype(int)

In [6]:
with open(IMAGE_TRAIN_PATH + "annotations/truth2d.txt") as f:
    labels = f.read().splitlines()

In [7]:
file_list = []
pose_list = []
polygon_list = []
for label in labels:
    # Split polygon
    data = label.split("[")
    file_pose = data[0].split(",")

    if len(data) > 1:
        for polygon in data[1:]:
            file_list.append(file_pose[0])
            pose_list.append(",".join(file_pose[1:]))
            polygon_list.append(polygon.replace("]", ""))
    else:
        file_list.append(file_pose[0])
        pose_list.append(np.NaN)
        polygon_list.append(np.NaN)

In [8]:
df_label = pd.DataFrame({"filename": file_list, "pose": pose_list, "polygon": polygon_list})
df_label["polygon_cnt"] = df_label.polygon.str.count("\\)\\(") + 1
df_label["polygon_cnt"] = df_label["polygon_cnt"].fillna(0)
df_label["pose_cnt"] = (df_label.pose.str.count(",")) * 2/3 / 2
df_label["pose_cnt"] = df_label["pose_cnt"].fillna(0)
df_label

,filename,pose,polygon,polygon_cnt,pose_cnt
0,952799.jpg,NaN,NaN,0.0,0.0
1,626913.jpg,NaN,NaN,0.0,0.0
2,204037.jpg,NaN,NaN,0.0,0.0
3,771734.jpg,"238.0,191.0,2,428.0,207.0,2,334.0,291.0,2,237....","(242.8,130.0,264.0,111.8,268.5,111.8,271.5,107...",2.0,15.0
4,895632.jpg,"819.0,362.0,2,795.0,456.0,2,744.0,412.0,2,732....","(226.1,267.0,229.2,258.5,236.6,254.3,266.0,254...",1.0,15.0
...,...,...,...,...,...
87,140435.png,"515.0,199.0,2,604.0,185.0,2,556.0,263.0,2,0.0,...","(498.9,131.5,500.2,127.7,507.8,120.1,530.6,106...",1.0,30.0
88,140435.png,"515.0,199.0,2,604.0,185.0,2,556.0,263.0,2,0.0,...","(41.7,96.0,253.2,93.5,289.9,185.9,292.5,185.9,...",1.0,30.0
89,948061.png,"492.0,316.0,2,674.0,315.0,2,584.0,418.0,2,389....","(271.3,145.4,272.6,140.4,281.4,132.8,293.9,122...",1.0,15.0
90,949796.png,"0.0,0.0,0,416.0,268.0,1,383.0,341.0,2,0.0,0.0,...","(378.4,200.4,390.6,198.0,407.7,198.0,412.5,200...",1.0,15.0
91,526920.png,"385.0,264.0,2,606.0,233.0,2,493.0,384.0,2,350....","(366.9,109.6,377.7,109.6,379.2,111.1,391.5,112...",1.0,15.0

In [9]:
df_label.filename.value_counts().reset_index().filename.value_counts()

1    80
2     6
Name: filename, dtype: int64

In [10]:
df_label.polygon_cnt.value_counts()

1.0     68
2.0      9
3.0      6
4.0      4
0.0      3
5.0      1
11.0     1
Name: polygon_cnt, dtype: int64

In [11]:
df_label.pose_cnt.value_counts()

15.0    77
30.0    12
0.0      3
Name: pose_cnt, dtype: int64

Fix `pose_cnt` > 15

In [12]:
df_label['r'] = df_label.groupby(['filename']).cumcount()+1
for i, r in df_label[df_label['pose_cnt'] > 0].iterrows():
    res = get_pose(r['pose'], r['r'])
    df_label.loc[i, 'pose'] = res

In [13]:
df_label["pose_cnt"] = (df_label.pose.str.count(",") + 1) * 2/3 / 2
df_label["pose_cnt"] = df_label["pose_cnt"].fillna(0)
df_label.pose_cnt.value_counts()

15.0    89
0.0      3
Name: pose_cnt, dtype: int64

In [14]:
df_label.loc[df_label["polygon_cnt"] > 0, "is_crowd"] = \
    np.where(df_label.loc[df_label["polygon_cnt"] > 0, "polygon_cnt"] > 1, 1, 0)

In [15]:
df_label

,filename,pose,polygon,polygon_cnt,pose_cnt,r,is_crowd
0,952799.jpg,NaN,NaN,0.0,0.0,1,NaN
1,626913.jpg,NaN,NaN,0.0,0.0,1,NaN
2,204037.jpg,NaN,NaN,0.0,0.0,1,NaN
3,771734.jpg,"238.0,191.0,2,428.0,207.0,2,334.0,291.0,2,237....","(242.8,130.0,264.0,111.8,268.5,111.8,271.5,107...",2.0,15.0,1,1.0
4,895632.jpg,"819.0,362.0,2,795.0,456.0,2,744.0,412.0,2,732....","(226.1,267.0,229.2,258.5,236.6,254.3,266.0,254...",1.0,15.0,1,0.0
...,...,...,...,...,...,...,...
87,140435.png,"515.0,199.0,2,604.0,185.0,2,556.0,263.0,2,0.0,...","(498.9,131.5,500.2,127.7,507.8,120.1,530.6,106...",1.0,15.0,1,0.0
88,140435.png,"0.0,0.0,0,0.0,0.0,0,0.0,0.0,0,277.0,287.0,2,38...","(41.7,96.0,253.2,93.5,289.9,185.9,292.5,185.9,...",1.0,15.0,2,0.0
89,948061.png,"492.0,316.0,2,674.0,315.0,2,584.0,418.0,2,389....","(271.3,145.4,272.6,140.4,281.4,132.8,293.9,122...",1.0,15.0,1,0.0
90,949796.png,"0.0,0.0,0,416.0,268.0,1,383.0,341.0,2,0.0,0.0,...","(378.4,200.4,390.6,198.0,407.7,198.0,412.5,200...",1.0,15.0,1,0.0
91,526920.png,"385.0,264.0,2,606.0,233.0,2,493.0,384.0,2,350....","(366.9,109.6,377.7,109.6,379.2,111.1,391.5,112...",1.0,15.0,1,0.0

### Convert to COCO format

Images required these values:

* file_name
* height, width
* id

Annotation consists of:

* segmentation
* num_keypoints
* area
* is_crowd
* keypoints
* image_id
* bbox
* category_id
* id

In [16]:
with open("data/cfg/cfg_2d_v1.json") as f:
    cfg = json.load(f)

In [17]:
for idx, row in df_metadata.iterrows():
    cfg["images"].append(
        {
            "file_name": row["filename"],
            "height": row["height"],
            "width": row["width"],
            "id": row["id"]
        }
    )

In [18]:
cfg

{'images': [{'file_name': '591443.png',
   'height': 720,
   'width': 1280,
   'id': 591443},
  {'file_name': '356637.jpg', 'height': 506, 'width': 900, 'id': 356637},
  {'file_name': '118330.png', 'height': 1080, 'width': 1920, 'id': 118330},
  {'file_name': '661319.png', 'height': 720, 'width': 1280, 'id': 661319},
  {'file_name': '626913.jpg', 'height': 427, 'width': 640, 'id': 626913},
  {'file_name': '143254.png', 'height': 1080, 'width': 1920, 'id': 143254},
  {'file_name': '311231.jpg', 'height': 425, 'width': 640, 'id': 311231},
  {'file_name': '409779.png', 'height': 1080, 'width': 1920, 'id': 409779},
  {'file_name': '465853.png', 'height': 720, 'width': 1280, 'id': 465853},
  {'file_name': '988638.png', 'height': 1080, 'width': 1920, 'id': 988638},
  {'file_name': '368532.png', 'height': 360, 'width': 640, 'id': 368532},
  {'file_name': '528003.png', 'height': 1080, 'width': 1920, 'id': 528003},
  {'file_name': '771734.jpg', 'height': 1093, 'width': 640, 'id': 771734},
  {'file_name': '898996.png', 'height': 1080, 'width': 1920, 'id': 898996},
  {'file_name': '592953.png', 'height': 720, 'width': 1280, 'id': 592953},
  {'file_name': '607884.jpg', 'height': 640, 'width': 425, 'id': 607884},
  {'file_name': '800258.jpg', 'height': 435, 'width': 640, 'id': 800258},
  {'file_name': '530935.png', 'height': 970, 'width': 1497, 'id': 530935},
  {'file_name': '134928.png', 'height': 1080, 'width': 1920, 'id': 134928},
  {'file_name': '969698.png', 'height': 1043, 'width': 1448, 'id': 969698},
  {'file_name': '126134.jpg', 'height': 766, 'width': 760, 'id': 126134},
  {'file_name': '602153.png', 'height': 1080, 'width': 1920, 'id': 602153},
  {'file_name': '526920.png', 'height': 926, 'width': 840, 'id': 526920},
  {'file_name': '727927.png', 'height': 720, 'width': 1280, 'id': 727927},
  {'file_name': '895632.jpg', 'height': 759, 'width': 1140, 'id': 895632},
  {'file_name': '283494.png', 'height': 240, 'width': 320, 'id': 283494},
  {'file_name': '143190.png', 'height': 1080, 'width': 1920, 'id': 143190},
  {'file_name': '141624.png', 'height': 480, 'width': 640, 'id': 141624},
  {'file_name': '085302.png', 'height': 1080, 'width': 1920, 'id': 85302},
  {'file_name': '777324.png', 'height': 931, 'width': 1380, 'id': 777324},
  {'file_name': '336825.png', 'height': 927, 'width': 1478, 'id': 336825},
  {'file_name': '232738.png', 'height': 691, 'width': 844, 'id': 232738},
  {'file_name': '969689.png', 'height': 720, 'width': 1280, 'id': 969689},
  {'file_name': '394854.png', 'height': 720, 'width': 1280, 'id': 394854},
  {'file_name': '661633.png', 'height': 813, 'width': 1178, 'id': 661633},
  {'file_name': '180912.png', 'height': 240, 'width': 320, 'id': 180912},
  {'file_name': '575220.png', 'height': 240, 'width': 320, 'id': 575220},
  {'file_name': '528655.png', 'height': 737, 'width': 855, 'id': 528655},
  {'file_name': '952799.jpg', 'height': 742, 'width': 1344, 'id': 952799},
  {'file_name': '146186.png', 'height': 934, 'width': 1576, 'id': 146186},
  {'file_name': '721030.png', 'height': 605, 'width': 835, 'id': 721030},
  {'file_name': '965295.png', 'height': 1080, 'width': 1920, 'id': 965295},
  {'file_name': '529199.png', 'height': 976, 'width': 1730, 'id': 529199},
  {'file_name': '569756.jpg', 'height': 640, 'width': 426, 'id': 569756},
  {'file_name': '933760.jpg', 'height': 400, 'width': 800, 'id': 933760},
  {'file_name': '988860.png', 'height': 1080, 'width': 1920, 'id': 988860},
  {'file_name': '949796.png', 'height': 879, 'width': 1037, 'id': 949796},
  {'file_name': '351722.jpg', 'height': 1024, 'width': 683, 'id': 351722},
  {'file_name': '308870.jpg', 'height': 512, 'width': 652, 'id': 308870},
  {'file_name': '379525.png', 'height': 1080, 'width': 1920, 'id': 379525},
  {'file_name': '545086.png', 'height': 1045, 'width': 1765, 'id': 545086},
  {'file_name': '257424.jpg', 'height': 423, 'width': 640, 'id': 257424},
  {'file_name': '091632.png', 'height': 1080, 'width': 1920, 'id': 91632},
  {'file_name': '318509.jpg', 'height': 750, 'width': 1000, 'id': 318509},
  {'file_name': '603889.png', 'height': 1080, 'width': 1920, 'id': 603889},
  {'file_name': '217404.png', 'height': 1080, 'width': 1920, 'id': 217404},
  {'file_name': '948061.png', 'height': 906, 'width': 1183, 'id': 948061},
  {'file_name': '759158.png', 'height': 617, 'width': 802, 'id': 759158},
  {'file_name': '873425.jpg', 'height': 1667, 'width': 2500, 'id': 873425},
  {'file_name': '716101.jpg', 'height': 1200, 'width': 900, 'id': 716101},
  {'file_name': '668756.png', 'height': 1080, 'width': 1920, 'id': 668756},
  {'file_name': '198464.png', 'height': 1044, 'width': 1617, 'id': 198464},
  {'file_name': '105779.png', 'height': 718, 'width': 792, 'id': 105779},
  {'file_name': '049349.png', 'height': 1080, 'width': 1920, 'id': 49349},
  {'file_name': '078630.png', 'height': 240, 'width': 320, 'id': 78630},
  {'file_name': '239549.png', 'height': 1080, 'width': 1920, 'id': 239549},
  {'file_name': '775588.png', 'height': 1047, 'width': 1629, 'id': 775588},
  {'file_name': '925956.png', 'height': 1080, 'width': 1920, 'id': 925956},
  {'file_name': '425113.png', 'height': 479, 'width': 626, 'id': 425113},
  {'file_name': '913404.png', 'height': 740, 'width': 782, 'id': 913404},
  {'file_name': '888355.jpg', 'height': 630, 'width': 1200, 'id': 888355},
  {'file_name': '140435.png', 'height': 914, 'width': 856, 'id': 140435},
  {'file_name': '926482.jpg', 'height': 512, 'width': 682, 'id': 926482},
  {'file_name': '617487.jpg', 'height': 159, 'width': 318, 'id': 617487},
  {'file_name': '047174.png', 'height': 1080, 'width': 1920, 'id': 47174},
  {'file_name': '204037.jpg', 'height': 259, 'width': 194, 'id': 204037},
  {'file_name': '276884.png', 'height': 722, 'width': 995, 'id': 276884},
  {'file_name': '621875.jpg', 'height': 1200, 'width': 1600, 'id': 621875},
  {'file_name': '020267.jpg', 'height': 600, 'width': 468, 'id': 20267},
  {'file_name': '256834.png', 'height': 1080, 'width': 1920, 'id': 256834},
  {'file_name': '084510.png', 'height': 800, 'width': 1378, 'id': 84510},
  {'file_name': '118857.jpg', 'height': 640, 'width': 422, 'id': 118857},
  {'file_name': '508694.png', 'height': 985, 'width': 1733, 'id': 508694},
  {'file_name': '948995.png', 'height': 720, 'width': 1280, 'id': 948995},
  {'file_name': '967962.png', 'height': 1059, 'width': 1504, 'id': 967962},
  {'file_name': '950880.png', 'height': 1080, 'width': 1920, 'id': 950880}],
 'categories': [{'supercategory': 'person',
   'id': 1,
   'name': 'astronaut',
   'keypoints': ['right_head',
    'left_head',
    'base_head',
    'right_shoulder',
    'right_elbow',
    'right_hand',
    'left_shoulder',
    'left_elbow',
    'left_hand',
    'right_hip',
    'right_knee',
    'right_foot',
    'left_hip',
    'left_knee',
    'left_foot'],
   'skeleton': [[1, 3],
    [2, 3],
    [3, 4],
    [4, 5],
    [5, 6],
    [3, 7],
    [7, 8],
    [8, 9],
    [3, 10],
    [10, 11],
    [11, 12],
    [3, 13],
    [13, 14],
    [14, 15]]}],
 'annotations': []}